* {
	padding: 0;
	margin: 0;
}
html {
	font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    width: 40em;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #000;
}
h1 {
    font-size: 160%;
    margin-bottom: 30px;
}
h2 {
    font-size: 140%;
    margin: 20px 0 5px 0;
}
h3 {
    font-size: 110%;
    margin: 10px 0 5px 0;
}
h4 {
    font-size: 100%;
    margin: 10px 0 3px 0;
}
p {
    margin-top: 15px;
}
ul {
    margin: 0 0 15px 20px;
}
li ul {
    margin: 2px 0 2px 20px;
}
li {
    padding: 2px 0;
}
code {
    white-space: pre;
}
code br:first-child {
    height: 1px;
}
